<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && oldPassword.invalid"
    >
      <div *ngIf="oldPassword.errors.wrongPassword">
        Old password is incorrect.
      </div>
      <div *ngIf="oldPassword.errors.required">Old password is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      formControlName="newPassword"
      id="newPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="newPassword.touched && newPassword.invalid"
    >
      <div *ngIf="newPassword.errors.required">New password is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm New Password</label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword.touched && confirmPassword.invalid"
    >
      <div *ngIf="confirmPassword.errors.required">
        Password confirmation is required.
      </div>
    </div>
  </div>


  <div class="alert alert-danger" *ngIf="form.invalid && form.errors?.passwordsShouldMatch">
    Passwords doesn't match!
  </div>


  <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
    Save
  </button>
</form>
