.divCourseHolder{
    display: inline-block;
    box-sizing: border-box;
}

.divCourse{
    padding: 10px;
    margin: 5px;
    background-color:lightsteelblue;
    width: 250px;
    height: 130px;
    background-size: cover;
    background-blend-mode: soft-light;
}

.divLabel{
  height: 55px;
}

.divLabel:after {
    content: "";
    display: inline-block;
    height: 100%;
  }

label{
    display: inline-block;
    vertical-align: bottom;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
