<h1>Hello-World App</h1>
<br>

<bootstrap-panel>
    <ng-container class="heading">
        <h3>Courses Available</h3>
    </ng-container>
    <ng-container class="body">
        <course></course>
    </ng-container>
</bootstrap-panel>

<br>
<label for="inputDirectiveExample" class="form-group">Custom Directive Example</label>
<input id="inputDirectiveExample" type="text" class="form-control" [appInputFormat]="'uppercase'">


<zippy title="Shiping Details">
    Shiping Details
</zippy>
<zippy title="Billing Details">
    Billing Details
</zippy>