<form #courseForm="ngForm" (ngSubmit)="submit(courseForm)">
  <h4>Add New Course</h4>

  <div class="form-group">
    <label for="courseName">Name:</label>
    <input
      required
      minlength="6"
      ngModel
      name="courseName"
      id="courseName"
      #courseName="ngModel"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="courseName.touched && !courseName.valid"
    >
      <div *ngIf="courseName.errors.required">Course name is required.</div>
      <div *ngIf="courseName.errors.minlength">
        Course name minimum length is
        {{ courseName.errors.minlength.requiredLength }}.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="coursePrice">Price:</label>
    <input
      ngModel
      name="coursePrice"
      id="coursePrice"
      type="number"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="courseDescription">Description:</label>
    <textarea
      ngModel
      name="courseDescription"
      id="courseDescription"
      class="form-control"
      cols="30"
      rows="10"
    ></textarea>
  </div>

  <div class="form-group">
    <label for="courseCategory">Category:</label>
    <select
      required
      ngModel
      #courseCategory="ngModel"
      name="courseCategory"
      id="courseCategory"
      class="form-control"
    >
      <option value=""></option>
      <option *ngFor="let cat of categories" [value]="cat.id">{{
        cat.description
      }}</option>
    </select>
    <div class="alert alert-danger" *ngIf="courseCategory.touched && !courseCategory.valid">
      <div *ngIf="courseCategory.errors.required">Category is required.</div>
    </div>
  </div>

  <br />
  <button type="submit" class="btn btn-primary" [disabled]="!courseForm.valid">Submit</button>
</form>
